.footer {
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logoDiv {
    @extend .footer;
    padding: 0;
    span {
      margin-left: 5px;
    }
  }
  .socialsDiv {
    a {
      padding: 0 10px;
    }
  }
  .contacts {
    @extend .footer;
    flex-direction: column;
  }
}
